<div class="container-fluid faq-page-wrapper">
  <h1>Frequently Asked Questions</h1>
  <div class="questions-index">
    <p ng-repeat="question in questions | orderBy: ['question']">
      <a href="#{{question.id}}" class="lead">{{question.question}}</a>
    </p>
    <div ng-if="admin" class="btn btn-primary" ng-click="addQuestion()"><span class="glyphicon glyphicon-plus"></span> Add Question</div>
  </div>

  <div class="question" ng-repeat="question in questions | orderBy: ['question']">
    <a name="{{question.id}}"></a>
    <p class="question-text lead">{{question.question}}</p>
    <div class="question-answer">
      <p ng-repeat="paragraph in question.answer">{{paragraph.p}}</p>
    </div>
    <div ng-if="admin" class="clearfix control-links">
      <a class="text-primary pull-left" ng-click="editQuestion(question)"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
      <a class="text-danger pull-left" ng-click="deleteQuestion($index, question)"><span class="glyphicon glyphicon-trash"></span> Delete</a>
    </div>
  </div>
</div>