<div class="container-fluid mentor-groups-wrapper">
  <h1>Your Teams</h1>
  <accordion close-others="false">
    <accordion-group is-open="!group.open" ng-repeat="group in groups">
      <accordion-heading>
        {{group.name}}
        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': !group.open, 'glyphicon-chevron-right': group.open}"></i>
      </accordion-heading>
      <table class="table">
        <tr ng-repeat="employee in group.employees | orderBy: ['-admin', 'name']" ng-class="{'text-bold': employee.admin}">
          <td style="width: 35%">{{employee.firstname}} {{employee.lastname}}</td>
          <td style="width: 40%">{{employee.email}}</td>
          <td style="width: 15%">
            <button ng-click="seeShares(employee)" class="btn btn-default see-shares">
              <span class="glyphicon glyphicon-eye-open"></span> See Shares
            </button>
          </td>
          <td style="width: 10%">
            <button ng-click="dropStudent(employee, $parent.$index, $index)" class="btn btn-danger drop-students">
              <span class="glyphicon glyphicon-trash"></span> Drop
            </button>
          </td>
        </tr>
      </table>
      <button ng-click="seeOffers(group.teamId)" class="btn btn-danger see-offers">
        <span class="glyphicon glyphicon-eye-open"></span> See/Edit Open Offers
      </button>
    </accordion-group>
  </accordion>
</div>