<div class="container-fluid valuation-wrapper">
  <h1>Valuations</h1>
  <tabset>
    <tab ng-repeat="valuations in valuationRounds | orderBy: ['round']" active="valuations.active">
      <tab-heading>Round {{valuations.round}}</tab-heading>
      <div class="btn pull-right" ng-class="{'btn-danger': !valuations.live, 'btn-success': valuations.live}" ng-disabled="newValuationForm.$invalid || valuations.live" ng-if="$last" ng-click="makeValuationsLive(valuations)"><span ng-if="!valuations.live">Not </span>Live</div>
      <div class="btn pull-right btn-default" ng-if="$last && !valuations.live" ng-click="saveValuations(valuations)" ng-disabled="newValuationForm.$invalid"><span class="glyphicon glyphicon-save"></span> Save</div>

      <div class="btn pull-right" ng-class="{'btn-danger': !valuations.live, 'btn-success': valuations.live}" ng-if="$last && !valuations.live" ng-click="allHundreds(valuations)">100s</div>

      <form name="newValuationForm" class="form" novalidate>
      <table class="table table-hover">
        <tr>
          <th>Company</th>
          <th>CEO</th>
          <th ng-if="valuations.live">Previous Round Investment</th>
          <th ng-if="valuations.live">Total Investment</th>
          <th>Grade</th>
          <th ng-if="valuations.live">Price Per Share</th>
        </tr>

        <tr ng-repeat="team in valuations.valuations | orderBy: ['company_name']">
          <td>{{team.company_name}}</td>
          <td>{{team.ceo}}</td>
          <td ng-if="valuations.live">{{team.previousRoundInvestment | number}}</td>
          <td ng-if="valuations.live">{{team.currentInvestment | number}}</td>
          <td ng-if="!valuations.live">
              <input type="number" name="student" ng-model="team.grade" placeholder="Grade (Ex: 100)" class="form-control input" max="100" ng-pattern="/^[0-9]\d*(\.\d{1,2})?$/" step="0.01" required>
          </td>
          <td ng-if="valuations.live">{{team.grade | number}}</td>
          <td ng-if="valuations.live">{{team.value | number : 5}} <span ng-class="{'text-danger': team.change < 0, 'text-success': team.change > 0}">(<span ng-class="{'glyphicon-arrow-down': team.change < 0, 'glyphicon-arrow-up': team.change > 0}" class="glyphicon"></span>{{team.change | number : 5}})</span></td>
        </tr>
      </table>
      </form>
    </tab>
    <tab ng-click="newValuationRound()" ng-if="!pending" active="false">
      <tab-heading><span class="glyphicon glyphicon-plus"></span></tab-heading>
    </tab>
  </tabset>
</div>
