<div class="container-fluid">
  <h1>All Students</h1>
  <table class="table table-hover">
    <tr>
      <th>Student</th>
      <th>Netid</th>
      <th>Current Company</th>
      <th>Daily Vesting</th>
      <th>Aggregate Earned Shares</th>
      <th>Aggregate Total Shares</th>
      <th></th>
    </tr>

    <tr ng-repeat="student in students | orderBy: ['currentCompany', '-earnedEquity']">
      <td>{{student.firstname}} {{student.lastname}}</td>
      <td>{{student.netid}}</td>
      <td>{{student.currentCompany}}</td>
      <td>{{student.dailyEquityIncrease | number}}</td>
      <td>{{student.earnedEquity | number}}</td>
      <td>{{student.totalEquity | number}}</td>
      <td>
        <button ng-click="seeShares(student)" class="btn btn-default see-shares">
          <span class="glyphicon glyphicon-eye-open"></span> See Shares
        </button>
      </td>
    </tr>
  </table>
</div>