<div class="container-fluid team-page-wrapper">
  <h1 class="company">{{currentCompany.company}} <small>current company</small></h1>
  <p class="ceo lead">CEO: {{currentCompany.ceo}}</p>
  <p class="shares lead">Shares Earned: {{currentCompany.earnedShares | number}} / {{currentCompany.totalShares | number}}</p>

  <div class="page-header clearfix">
    <h3>Team</h3>
    <button ng-click="recruitEmployee()" ng-if="admin" class="btn btn-primary recruit"><span class="glyphicon glyphicon-plus"></span> Recruit New Employee</button>
  </div>

  <div class="employee-wrapper row" ng-repeat="employee in currentCompany.employees">
    <div class="col-xs-6 col-sm-5">
      <p class="lead employee-name">{{employee.firstname}} {{employee.lastname}}</p>
    </div>
    <div class="col-xs-6 col-sm-7">
      <button ng-click="seeShares(employee)" ng-if="admin" class="btn btn-default see-shares"><span class="glyphicon glyphicon-eye-open"></span> See Shares</button>
    </div>
  </div>

  <p class="lead employee-name"><b>{{studentName}}</b></p>

  <div class="previous-work-history-wrapper" ng-if="!admin && previousCompanies">
    <div class="page-header">
      <h3>Previous Companies</h3>
    </div>
    <table class="table">
      <tr class="lead">
        <th>Company</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Earned / Total</th>
      </tr>
      <tr ng-repeat="company in previousCompanies" class="lead">
        <td>{{company.company}}</td>
        <td>{{company.startDate | date}}</td>
        <td>{{company.endDate | date}}</td>
        <td>{{company.earnedShares | number}} / {{company.totalShares | number}}</td>
      </tr>
    </table>
  </div>
</div>
