<%= @team.company_name %> has sent an offer to <%= @recruit.name %>.

<%= @recruit.name %>, please respond to the offer within 48 hours. After 48 hours, the offer will be marked as expired and <%= @team.company_name %> will be unable to send new offers to you for a 2 week period.</p>
