<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @recruit.firstname %> <%= @recruit.lastname %> has rejected the offer made by <%= @team.company_name %>!</h1>
    <p><%= @team.company_name %> may not send another offer for a 2 week period.</p>
  </body>
</html>