<div class="new-offer-wrapper">
  <div class="modal-header">
    <button type="button" class="close" ng-click="discard()" aria-hidden="true">&times;</button>
    <h3 class="modal-title">Add Question to FAQ Page</h3>
  </div>
  <div class="modal-body">
    <form name="newQuestionForm" class="form" novalidate>
      <div class="form-group">
        <label for="question-text" class="control-label">Question</label>
        <input class="form-control input-lg" type="text" ng-model="question.text" name="question-text" placeholder="Question" required>
      </div>

      <div class="form-group">
        <label for="answer" class="control-label">Answer</label>
        <textarea ng-repeat="paragraph in question.answer" ng-model="paragraph.p" name="answer" placeholder="Answer" class="form-control" required>
          {{paragraph.p}}
        </textarea>
          <div class="btn btn-default" ng-click="addParagraph()">Add Paragaph</div>
        </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="discard()">Discard</button>
    <button class="btn btn-info" ng-click="save()" ng-disabled="newQuestionForm.$invalid">Send</button>
  </div>
</div>