<div class="modal-header">
  <button type="button" class="close" ng-click="discard()" aria-hidden="true">&times;</button>
  <h3 class="modal-title">New Investment</h3>
</div>
<div class="modal-body">
  <form name="newInvestmentForm" novalidate>
    <p class="lead text-center">{{companyData.company_name}}<br>Value: {{companyData.value}} <span ng-class="{'text-danger': companyData.change < 0, 'text-success': companyData.change > 0}">(<span ng-class="{'glyphicon-arrow-down': companyData.change < 0, 'glyphicon-arrow-up': companyData.change > 0}" class="glyphicon"></span>{{companyData.change | number}})</span></p>
    <alert type="danger" ng-if="(newInvestmentForm.shares.$error.max || newInvestmentForm.shares.$error.pattern)">
      The number of shares being bought must be between 0 and {{maxShares | number}}. The max you can spend is {{investableDollars | number}}.
    </alert>
    <div class="form-group">
      <input type="number" name="shares" step="1" placeholder="Number Of Shares" class="form-control input-lg text-center" ng-model="investment.shares" ng-pattern="/^[0-9]\d*$/" max="{{maxShares}}" required>
    </div>
    <p class="lead text-center" ng-if="investment.shares > 0">Dollar Value: {{investment.shares * companyData.value | number}}</p>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="discard()">Discard</button>
  <button class="btn btn-info" ng-click="confirm()" ng-disabled="newInvestmentForm.$invalid || investment.shares <= 0">Invest</button>
</div>
