<div class="new-offer-wrapper">
  <div class="modal-header">
    <button type="button" class="close" ng-click="discard()" aria-hidden="true">&times;</button>
    <h3 class="modal-title">Recruit New Employees</h3>
  </div>
  <div class="modal-body">
    <p class="lead">Send New Offer</p>
    <form name="newOfferForm" class="form-horizontal" novalidate>
      <alert type="danger" ng-if="selectedStudent && newOfferForm.student.$dirty && newOfferForm.student.$invalid">
        Must choose a student from the autocomplete/dropdown list.
      </alert>
      <div class="form-group">
        <label for="student" class="col-sm-2 control-label">Recruit</label>
        <div class="col-sm-10">
          <input type="text" ng-blur="selectedStudent = true" ng-model="offer.student" name="student" placeholder="Student Name" typeahead="student as student.name for student in students | filter:{name:$viewValue} | limitTo: 8" typeahead-editable="false" class="form-control input-lg" required>
        </div>
      </div>

      <alert type="danger" ng-if="(newOfferForm.shares.$error.min || newOfferForm.shares.$error.max || newOfferForm.shares.$error.pattern)">
        The number of shares being offered must be an integer between 100 and {{maxSharesOfferable}}.
      </alert>
      <div class="form-group">
        <label for="shares" class="col-sm-2 control-label">Offer</label>
        <div class="col-sm-10">
          <input type="number" ng-model="offer.shares" name="shares" placeholder="Shares" class="col-sm-10 form-control input-lg" min="100" max="{{maxSharesOfferable}}" ng-pattern="/^\d+$/" required>
        </div>
      <div class="form-group">
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="discard()">Discard</button>
    <button class="btn btn-info" ng-click="send()" ng-disabled="newOfferForm.$invalid">Send</button>
  </div>
</div>