<div class="modal-header">
  <button type="button" class="close" ng-click="discard()" aria-hidden="true">&times;</button>
  <h3 class="modal-title">I'm a modal!</h3>
</div>
<div class="modal-body">
  <p class="lead">Send New Offer</p>
  <input type="text" ng-model="offer.student" placeholder="Student Name" typeahead="student as student.name for student in students | filter:{name:$viewValue} | limitTo: 8" typeahead-editable="true" class="form-control input-lg">
</div>
<div class="modal-footer">
  <button class="btn btn-info" ng-click="discard()">Discard</button>
  <button class="btn btn-danger" ng-click="send()">Send</button>
</div>