<div class="offer text-center">
  <h2 class="shares">{{offerData.shares | number:0}} <small>shares</small></h2>
  <p class="company lead">{{offerData.companyName}}</p>
  <p class="ceo lead" ng-if="ceo == 'true'">Employee: {{offerData.ceo}}</p>
  <p class="ceo lead" ng-if="ceo == 'false'">CEO: {{offerData.ceo}}</p>

  <p class="offer-date lead" ng-if="!offerData.answered">{{offerData.offerDate | date}}</p>
  <p class="offer-date lead" ng-if="offerData.answered && offerData.signed">
    Accepted: {{offerData.dateSigned | date}}
  </p>
  <p class="offer-date lead" ng-if="offerData.answered && !offerData.signed">
    Declined: {{offerData.dateSigned | date}}
  </p>

  <div class="button-wrapper clearfix" ng-if="!offerData.answered && ceo == 'false'">
    <div class="btn btn-default offer-decision accept" ng-click="accept()">
      <span class="glyphicon glyphicon-thumbs-up text-center"></span>
    </div>
    <div class="btn btn-default offer-decision decline" ng-click="decline()">
      <span class="glyphicon glyphicon-thumbs-down"></span>
    </div>
  </div>
</div>
