@import "bootstrap-sprockets";
@import "bootstrap";
@import "nv.d3";
@import "flaticon";
@import "nav";
@import "equity";
@import "offers";
@import "team";
@import "see-shares";
@import "forms";
@import "../javascripts/angular/components/offer/offer";

body {
  height: 100%;
  margin: 0;
  padding: 0 0 0 60px;
}

.content-wrapper {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 40px 0 200px 0;
  width: 100%;

  -ms-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate(0px, 0);
  -ms-transition: -ms-transform 0.28s ease-in-out;
  -moz-transition: -moz-transform 0.28s ease-in-out;
  -webkit-transition: -webkit-transform 0.28s ease-in-out;
  transition: transform 0.28s ease-in-out;
}

.text-bold {
  font-weight: bold;
}
