.equity-page-wrapper {
  nvd3-line-chart.shares > svg {
    height: 450px;
  }


  .equity-stats {
    padding: 10px 0 20px 0;
  }

  .company-shares {
    padding: 20px 0;
  }

  .table th, .table td {
     border-top: none;
     text-align: center;
 }
}