.faq-page-wrapper {
  .questions-index {
    margin: 20px auto 40px auto;
  }

  .question {
    margin: 20px auto;

    .question-text {
      font-weight: bold;
      margin: 0 auto;
    }

    .question-answer {
      font-size: 14px;
    }

    .control-links a {
      cursor: pointer;
      margin: auto 20px auto 0;
    }
  }
}

.edit-question-wrapper {
  textarea {
    min-height: 100px;
    resize: vertical;
  }
}