.valuation-wrapper {
  .btn {
    margin: 20px;

    &:first-child {
      margin: 20px 0;
    }
  }

  .form-control {
    margin-bottom: 0;
  }

  table {
    margin-top: 5px;
    th {
      border-top: none !important;
    }

    td {
      vertical-align: middle !important;
    }
  }
}