.nav-wrapper {
  background-color: #222;
  box-sizing: border-box;
  height: 100%;
  left: 0;
  overflow: hidden !important;
  padding: 40px 0;
  position: fixed;
  top: 0;
  width: 60px;

  -moz-transition: width ease-in-out 0.28s, background linear 0.1s;
  -webkit-transition: width ease-in-out 0.28s, background linear 0.1s;
  -o-transition: width ease-in-out 0.28s, background linear 0.1s;
  transition: width ease-in-out 0.28s, background linear 0.1s;
  -ms-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate(0px, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  &:hover {
    width: 200px;
  }

  &:hover ~ .content-wrapper {
    -ms-transform: translate(150px, 0);
    -moz-transform: translate(150px, 0);
    -webkit-transform: translate3d(150px, 0, 0);
    transform: translate(150px, 0);
  }

  .nav {
    a {
      color: #ccc;
      padding: 4px 10px;
      text-decoration: none;

      &:link, &:hover, &:active, &:visited {
        text-decoration: none;
      }

      &:hover {
        background-color: #000;
      }

      .nav-icon {
        box-sizing: border-box;
        display: block;
        font-size: 24px;
        text-align: center;
        width: 40px;
      }

      .nav-text {
        display: block;
        font-size: 18px;
        height: 100%;
        line-height: 100%;
        left: 60px;
        position: absolute;
        top: 13px;
      }
    }

    li {
      border-top: 1px solid #2d2d2d;
    }

    li:last-of-type {
      border-bottom: 1px solid #2d2d2d;
    }
  }
}