.team-page-wrapper {
  .company {
    margin: 0 0 5px 0;
  }

  .ceo {
    margin: 5px 0;
  }

  .shares {
    margin: 5px 0 40px 0;
  }

  .page-header {
    h3 {
      margin-bottom: 0;
    }
  }

  .employee-name {
    margin: 0 0 10px 0;
  }

  .table th, .table td {
     border-top: none;
 }
}
