<!DOCTYPE html>
<html>
<head>
  <title>112 Stock Tracker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="stockTrackerApp">
  <div class="nav-wrapper"></div>
  <div class="content-wrapper">
    <%= yield %>
  </div>
  <%= javascript_include_tag 'application' %>
</body>
</html>
