<!DOCTYPE html>
<html>
<head>
  <title>112 Stock Tracker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="stockTrackerApp" ng-controller="AppCtrl">
  <div class="nav-wrapper">
    <ul class="nav nav-stacked">
      <% if @user.class.name == "Student" %>
        <li>
          <a ui-sref="equity">
            <span class="nav-icon flaticon-equity"></span>
            <span class="nav-text">Equity</span>
          </a>
        </li>

        <li>
          <a ui-sref="offers">
            <span class="nav-icon flaticon-offers"></span>
            <span class="nav-text">Offers</span>
          </a>
        </li>

        <li>
          <a ui-sref="team">
            <span class="nav-icon flaticon-team"></span>
            <span class="nav-text">Team</span>
          </a>
        </li>
      <% end %>
      <li>
        <a ui-sref="logout">
          <span class="nav-icon glyphicon glyphicon-log-out"></span>
          <span class="nav-text">Logout</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="content-wrapper">
    <%= yield %>
  </div>
  <%= javascript_include_tag 'application' %>
</body>
</html>
